global
    log 127.0.0.1 local0
    
    # Define Docker's internal DNS resolver
    resolvers docker_resolver
        nameserver dns 127.0.0.11:53

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:8080
    default_backend http_back
    stats enable
    stats uri /stats
    stats refresh 10s

backend http_back
    balance roundrobin
    
    # This line tells HAProxy to find all 10 containers
    # for the service named 'app'
    server-template app 10 app:5000 check resolvers docker_resolver init-addr none


