global
    log 127.0.0.1 local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:8080
    default_backend http_back

backend http_back
    balance roundrobin
    
    # These MUST match the service names and ports from your Python files
    server app1 app1:5001 check
    server app2 app2:5002 check




    
